.header {
    width: 100%;
    @media #{$device-phone} {
        box-shadow: none;
        background-color: transparent;
    }
    &__title {
        min-height: 130px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @media #{$device-phone} {
            min-height: 70px;
        }
    }
    &__image {
        &--profile {
            width: 171px;
            height: 171px;
            background-image: url(../img/profile_image.jpg);
            background-position: 215px 250px;
            @media #{$device-phone} {}
            @media #{$device-tablet-and-desktop} {
                position: absolute;
                left: 20px;
                bottom: 20px;
                z-index: 11;
            }
        }
    }
    &__button {
        &--logout {
            border: 1px solid $blue-color;
            color: $blue-color;
            @media #{$device-phone} {
                border: 0px;
            }
        }
        &--cover-photo {
            border: 1px solid #d0dce7;
            color: #d0dce7;
            @media #{$device-phone} {
                display: none;
            }
        }
    }
    &__details {
        width: 98%;
        &--image-container {
            @media #{$device-phone} {
                display: flex;
                justify-content: center;
            }
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        @media #{$device-phone} {
            margin-bottom: 0px;
        }
        @media #{$device-tablet-and-desktop} {
            align-items: flex-start;
            padding-left: 184px;
        }
        &--name {
            font-weight: 700;
            margin-bottom: 0px;
            font-size: 1.2em;
            color: $main-font-color;
            @media #{$device-phone} {
                align-self: center;
                padding-bottom: 15px;
            }
        }
        &--location,
        &--number {
            margin-bottom: 0px;
            span {
                padding-left: 10px;
            }
        }
    }
    &__review {
        display: flex;
        justify-content: flex-end;
        @media #{$device-phone} {
            justify-content: flex-start;
            flex-direction: column;
            margin-top: 0px;
        }
        @media #{$device-tablet} {
            padding-left: 184px;
            justify-content: flex-start;
        }
        &--stars {
            @media #{$device-phone} {
                i {
                    color: $blue-color;
                    font-size: 1.8em;
                }
            }
        }
        &--count {
            @media #{$device-tablet-and-desktop} {
                padding-left: 20px;
            }
        }
    }
    &__menus {
        padding: 0px;
        border-bottom: 0px;
        display: flex;
        justify-content: space-between;
        @media #{$device-phone} {
            flex-direction: column-reverse;
            border-top: 0px !important;
            padding-bottom: 10px;
        }
        @media #{$device-tablet-and-desktop} {
            padding-left: 193px;
        }
        &--buttons {
            background: #fff;
            white-space: nowrap;
            overflow-y: scroll;
            @media #{$device-phone} {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
            }
            .mdl-button {
                color: $main-font-color;
                border-radius: 0px;
                height: 43px;
                padding-top: 7px;
                font-size: 12px;
                &.active {
                    border-bottom: 2px solid $blue-color;
                }
            }
        }
        &--followers {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-left: 12px;
            @media #{$device-phone} {
                justify-content: flex-start;
                padding: 0px 0px 20px 16px;
            }
            .mdl-button {
                height: 25px;
                min-width: 25px;
                width: 20px;
                background: $grey-color;
                color: white;
                @media #{$device-phone} {
                    margin: 0px;
                }
            }
            .followers-count {
                font-size: 12px;
                white-space: nowrap;
                &__text {
                    color: $grey-color;
                    padding-right: 18px;
                }
                &__number {
                    padding-left: 5px;
                }
            }
        }
    }
}