$device-phone: "only screen and (max-width : 479px)";
$device-tablet: "only screen and (min-width : 480px) and (max-width: 839px)";
$device-tablet-and-desktop: "only screen and (min-width : 480px)";
$device-desktop: "only screen and (min-width : 840px)";